<div>
    <div id="add_user_link">
        <a href="" ng-click="showUsersCtrl.showAddingForm();showUsersCtrl.hideEditForm()">Add new user</a>
    </div>


    <form id="add_user_form" class="add_form" ng-controller="AddUserController as addUserCtrl" ng-show="showAddForm">
        <input class="add_user_input" type = "text" placeholder="Username" required="required" ng-model="addUserCtrl.user.userName"><br />
        <input class="add_user_input" type = "password" placeholder="Password" required="required" ng-model="addUserCtrl.user.password"><br />
        <input class="add_user_input" type = "text" placeholder="First Name" required="required" ng-model="addUserCtrl.user.firstName"><br />
        <input class="add_user_input" type = "text" placeholder="Last Name" required="required" ng-model="addUserCtrl.user.lastName"><br />
        <input class="add_user_input" type = "text" placeholder="Date of birth (yyy-MM-dd)" required="required" ng-model="addUserCtrl.user.dateOfBirth"><br />
        <button class="add_user_submit" ng-click="addUserCtrl.saveUser()">Add user</button>
        <button class="add_user_submit" ng-click="showUsersCtrl.showAddingForm()">Cancel</button>
    </form>


    <form  id="edit_user_form" ng-show="showEditForm">
        <input class="edit_user_input" type = "text" placeholder="Username" ng-model="showUsersCtrl.user.userName"><br />
        <input class="edit_user_input" type = "password" placeholder="Password" ng-model="showUsersCtrl.user.password"><br />
        <input class="edit_user_input" type = "text" placeholder="First Name" ng-model="showUsersCtrl.user.firstName"><br />
        <input class="edit_user_input" type = "text" placeholder="Last Name" ng-model="showUsersCtrl.user.lastName"><br />
        <input class="edit_user_input" type = "text" placeholder="Date of birth" ng-model="showUsersCtrl.user.dateOfBirth"><br />
        <button class="edit_user_submit" ng-click="showUsersCtrl.saveEditedUser()">Save user</button>
        <button class="edit_user_submit" ng-click="showUsersCtrl.hideEditForm()">Cancel</button>
    </form>

    <div class="table_div">

        <div class="table_title_div">
            <h1>List of all users</h1>
        </div>

        <table id="users_table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>USER NAME</th>
                    <th>PASSWORD</th>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>DATE OF BIRTH</th>
                    <th>GROUPS</th>
                </tr>
            </thead>
            <tbody>
                <tr class="users_table_row" ng-repeat="u in showUsersCtrl.users" ng-class-odd="'odd'">
                    <td width="30px">{{u.id}}</td>
                    <td width="10%">{{u.userName}}</td>
                    <td width="10%">{{u.password}}</td>
                    <td width="10%"> {{u.firstName}}</td>
                    <td width="15%">{{u.lastName}}</td>
                    <td width="10%">{{u.dateOfBirth}}</td>
                    <td>
                        <a href="" ng-click="showUsersCtrl.toggle_visibility(u.id + 'show')">Click to show/hide groups</a>
                        <ol id="{{u.id}}show" style="display: none">

                            <li ng-repeat="g in u.userGroups" style="height: 35px">
                                {{g.name}}
                                <span class="delete_user_fromt_gr_span">
                                    <a href="" ng-click="showUsersCtrl.leaveGroup(g.id, u.id)">Leave group</a>
                                </span>
                            </li>

                            <li class="user_add_form"><a href="" ng-click="showUsersCtrl.getGroupsToJoin(u.id); showUsersCtrl.toggle_visibility(u.id + 'add')">Join group</a>
                                <div id="{{u.id}}add" style="display: none">
                                    <select id="group_to_join_select{{u.id}}">
                                        <option ng-repeat="gg in showUsersCtrl.groupsToJoin" value={{gg.id}}>{{gg.name}}</option>
                                    </select>
                                    <button class="add_user_to_gr_submit" ng-click="showUsersCtrl.joinGroup(u.id)">Join group</button>
                                </div>
                            </li>

                        </ol>
                    </td>
                    <td width="10%"><a ng-href="#!users/confirm/{{u.id}}">Delete</a></td>
                    <td width="10%"><a href=""  ng-click="showUsersCtrl.showEditForm();showUsersCtrl.setUser(u.id)">Edit</a></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>